<p style="font-family: Arial; font-size:2.75em;color:purple; font-style:bold"><br>

Regresssion with scikit-learn<br><br> using Weather Dataset provided by NOAA

<br><br></p>

Seattle weather
In this project, we will use real weather data collected by the National Oceanic and Atmospheric Administration (NOAA) at Seattle Tacoma International Airport. The data contains the maximum temperature, minimum temperature, and precipitation for 25561 days from January 1, 1948 till December 24, 2017. The data is in the public domain and can be downloaded from https://www.ncdc.noaa.gov/cdo-web/datasets/GHCND/stations/GHCND%3aUSW00024233/detail.

**Note:** In order to download data, you should request on website. Afterwards, you need to specify your request such as  range of years, file format etc. At the end, submit your e-mail address. You are going to recieve and email by NOAA and be able to download via link .

<p style="font-family: Arial; font-size:1.75em;color:purple; font-style:bold"><br>

Import Libraries<br><br></p>

In [1]:
import pandas as pd 
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

<p style="font-family: Arial; font-size:1.75em;color:purple; font-style:bold"><br>

Read Data from the Database into pandas
<br><br></p>

In [2]:
# Read the csv file and load data as dataframe
df = pd.read_csv('C:/Users/Admin/Desktop/data science/NOAA Weather.csv')

In [3]:
# Explore and understanding scale of dataset with shape function
print("There are",df.shape[0],"rows and",df.shape[1],"columns in the dataframe")

There are 26007 rows and 50 columns in the dataframe

In [4]:
# Display first 2 rows from dataframe
df.head(2)

,STATION,NAME,DATE,ACMH,ACSH,AWND,FMTM,FRGT,PGTM,PRCP,...,WT15,WT16,WT17,WT18,WT19,WT21,WT22,WV01,WV03,WV20
0,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/1/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.47,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/2/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.59,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Display last 2 rows in the dataframe
df.tail(2)

,STATION,NAME,DATE,ACMH,ACSH,AWND,FMTM,FRGT,PGTM,PRCP,...,WT15,WT16,WT17,WT18,WT19,WT21,WT22,WV01,WV03,WV20
26005,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",3/14/2019,NaN,NaN,5.14,NaN,NaN,1419.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26006,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",3/15/2019,NaN,NaN,5.59,NaN,NaN,1346.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Extract first 3 rows from Database
df.iloc[[0,1,2]]

,STATION,NAME,DATE,ACMH,ACSH,AWND,FMTM,FRGT,PGTM,PRCP,...,WT15,WT16,WT17,WT18,WT19,WT21,WT22,WV01,WV03,WV20
0,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/1/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.47,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/2/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.59,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/3/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.42,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Chech data column to see
print('Dataset contains weather data from',df['DATE'][0],'to',df['DATE'][-1:],'years')

Dataset contains weather data from 1/1/1948 to 26006    3/15/2019
Name: DATE, dtype: object years

In [8]:
# Display first 3 colomns with first 5 rows
df.iloc[:,[0,1,2]].head()

       STATION                                         NAME      DATE
0  USW00024233  SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US  1/1/1948
1  USW00024233  SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US  1/2/1948
2  USW00024233  SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US  1/3/1948
3  USW00024233  SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US  1/4/1948
4  USW00024233  SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US  1/5/1948

In [9]:
# Display columns with NaN values
df[df.isnull().any(axis=1)]

,STATION,NAME,DATE,ACMH,ACSH,AWND,FMTM,FRGT,PGTM,PRCP,...,WT15,WT16,WT17,WT18,WT19,WT21,WT22,WV01,WV03,WV20
0,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/1/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.47,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/2/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.59,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/3/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.42,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/4/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.31,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/5/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.17,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/6/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.44,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/7/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.41,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/8/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.04,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/9/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.12,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/10/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.74,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/11/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.01,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/12/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/13/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/14/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/15/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/16/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.00,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/17/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.00,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/18/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.00,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/19/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.00,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/20/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.00,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/21/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.00,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/22/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.21,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/23/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.00,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/24/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.10,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/25/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/26/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/27/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/28/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/29/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.22,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",1/30/1948,NaN,NaN,NaN,NaN,NaN,NaN,0.03,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25977,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",2/14/2019,NaN,NaN,9.17,NaN,NaN,NaN,0.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25978,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",2/15/2019,NaN,NaN,6.93,NaN,NaN,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25979,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",2/16/2019,NaN,NaN,4.25,NaN,NaN,NaN,0.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25980,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",2/17/2019,NaN,NaN,3.58,NaN,NaN,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25981,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",2/18/2019,NaN,NaN,5.37,NaN,NaN,NaN,0.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25982,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",2/19/2019,NaN,NaN,7.38,NaN,NaN,NaN,0.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25983,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",2/20/2019,NaN,NaN,7.38,NaN,NaN,NaN,0.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25984,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",2/21/2019,NaN,NaN,6.04,NaN,NaN,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25985,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",2/22/2019,NaN,NaN,10.96,NaN,NaN,NaN,0.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25986,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",2/23/2019,NaN,NaN,7.61,NaN,NaN,NaN,0.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25987,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",2/24/2019,NaN,NaN,8.72,NaN,NaN,NaN,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25988,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",2/25/2019,NaN,NaN,11.18,NaN,NaN,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25989,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",2/26/2019,NaN,NaN,12.75,NaN,NaN,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25990,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",2/27/2019,NaN,NaN,8.05,NaN,NaN,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25991,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",2/28/2019,NaN,NaN,5.14,NaN,NaN,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25992,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",3/1/2019,NaN,NaN,6.26,NaN,NaN,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25993,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",3/2/2019,NaN,NaN,11.18,NaN,NaN,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25994,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",3/3/2019,NaN,NaN,12.97,NaN,NaN,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25995,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",3/4/2019,NaN,NaN,10.74,NaN,NaN,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25996,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",3/5/2019,NaN,NaN,9.40,NaN,NaN,1708.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25997,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",3/6/2019,NaN,NaN,9.40,NaN,NaN,550.0,0.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25998,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",3/7/2019,NaN,NaN,10.51,NaN,NaN,1548.0,0.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25999,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",3/8/2019,NaN,NaN,3.36,NaN,NaN,126.0,0.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26000,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",3/9/2019,NaN,NaN,6.26,NaN,NaN,1259.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26001,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",3/10/2019,NaN,NaN,4.25,NaN,NaN,1442.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26002,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",3/11/2019,NaN,NaN,8.50,NaN,NaN,1659.0,0.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26003,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",3/12/2019,NaN,NaN,5.82,NaN,NaN,1203.0,0.49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26004,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",3/13/2019,NaN,NaN,4.70,NaN,NaN,1445.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26005,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",3/14/2019,NaN,NaN,5.14,NaN,NaN,1419.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26006,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",3/15/2019,NaN,NaN,5.59,NaN,NaN,1346.0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.columns

Index(['STATION', 'NAME', 'DATE', 'ACMH', 'ACSH', 'AWND', 'FMTM', 'FRGT',
       'PGTM', 'PRCP', 'PSUN', 'SNOW', 'SNWD', 'TAVG', 'TMAX', 'TMIN', 'TSUN',
       'WDF1', 'WDF2', 'WDF5', 'WDFG', 'WDFM', 'WESD', 'WSF1', 'WSF2', 'WSF5',
       'WSFG', 'WSFM', 'WT01', 'WT02', 'WT03', 'WT04', 'WT05', 'WT06', 'WT07',
       'WT08', 'WT09', 'WT11', 'WT13', 'WT14', 'WT15', 'WT16', 'WT17', 'WT18',
       'WT19', 'WT21', 'WT22', 'WV01', 'WV03', 'WV20'],
      dtype='object')

There are numerous columns. TMAX stands for maximum temprature and TMIN stands for minummum temprature.
In this project, we use these columns in order to create new column which is named as  "avarage temprature"
We should check these columns wheather they have NaN values.
If any NaN values exists, we have to drop them in order to prevent from missanalyze.
Otherwise, we can create new column

In [11]:
# Good news! There is no NaN values.
df['TMAX'].isnull().any()

False

In [12]:
# Good news! There is no NaN values.
df['TMIN'].isnull().any()

False

# Good news! There is no NaN values in these columns which we work on

In [13]:
# Calculate avarage temprature by sum up two columns and divide 2
df['avarage_temp']= (df['TMAX'] + df['TMIN']) / 2
# Display new column
df['avarage_temp'].head()

0    46.5
1    40.5
2    40.0
3    39.5
4    38.5
Name: avarage_temp, dtype: float64

In [27]:
sample_df= df[['PRCP','TMIN','TMAX','avarage_temp']]
sample_df.head()

   PRCP  TMIN  TMAX  avarage_temp
0  0.47    42    51          46.5
1  0.59    36    45          40.5
2  0.42    35    45          40.0
3  0.31    34    45          39.5
4  0.17    32    45          38.5

In [32]:
sample_df.shape

(26007, 4)

In [33]:
drop_sample_df=sample_df.dropna()

In [36]:
# How many rows we dropped
print(sample_df.shape[0]-drop_sample_df.shape[0])

3

<p style="font-family: Arial; font-size:1.75em;color:purple; font-style:bold"><br>

Declare the Columns You Want to Use as Features
<br><br></p>

In [37]:
features = ['PRCP']

<p style="font-family: Arial; font-size:1.75em;color:purple; font-style:bold"><br>

Specify the Prediction Target
<br><br></p>

In [38]:
target = ['avarage_temp']

<p style="font-family: Arial; font-size:1.75em;color:purple; font-style:bold"><br>

Extract Features and Target ('overall_rating') Values into Separate Dataframes
<br><br></p>

In [39]:
X = drop_sample_df[features]

In [40]:
y = drop_sample_df[target]

Let us look at a typical row from our features:

In [41]:
X.iloc[2]

PRCP    0.42
Name: 2, dtype: float64

Let us also display our target values:

In [42]:
y.head()

   avarage_temp
0          46.5
1          40.5
2          40.0
3          39.5
4          38.5

<p style="font-family: Arial; font-size:1.75em;color:purple; font-style:bold"><br>

Split the Dataset into Training and Test Datasets
<br><br></p>

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=324)

<p style="font-family: Arial; font-size:1.75em;color:purple; font-style:bold"><br>

(1) Linear Regression: Fit a model to the training set
<br><br></p>

In [44]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

<p style="font-family: Arial; font-size:1.75em;color:purple; font-style:bold"><br>

Perform Prediction using Linear Regression Model
<br><br></p>

In [45]:
y_prediction = regressor.predict(X_test)
y_prediction

array([[48.06357015],
       [52.78330506],
       [52.78330506],
       ...,
       [52.78330506],
       [52.78330506],
       [52.78330506]])

<p style="font-family: Arial; font-size:1.75em;color:purple; font-style:bold"><br>

What is the mean of the expected target value in test set ?
<br><br></p>

In [46]:
y_test.describe()

       avarage_temp
count   8582.000000
mean      52.075390
std       10.514324
min       14.000000
25%       44.000000
50%       51.500000
75%       60.500000
max       83.500000

<p style="font-family: Arial; font-size:1.75em;color:purple; font-style:bold"><br>

Evaluate Linear Regression Accuracy using Root Mean Square Error

<br><br></p>

In [47]:
RMSE = sqrt(mean_squared_error(y_true = y_test, y_pred = y_prediction))

In [48]:
print(RMSE)

10.371601646393396

<p style="font-family: Arial; font-size:1.75em;color:purple; font-style:bold"><br>

(2) Decision Tree Regressor: Fit a new regression model to the training set
<br><br></p>

In [49]:
regressor = DecisionTreeRegressor(max_depth=20)
regressor.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=20, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

<p style="font-family: Arial; font-size:1.75em;color:purple; font-style:bold"><br>

Perform Prediction using Decision Tree Regressor
<br><br></p>

In [50]:
y_prediction = regressor.predict(X_test)
y_prediction

array([48.30952381, 54.71170448, 54.71170448, ..., 54.71170448,
       54.71170448, 54.71170448])

<p style="font-family: Arial; font-size:1.75em;color:purple; font-style:bold"><br>

For comparision: What is the mean of the expected target value in test set ?
<br><br></p>

In [51]:
y_test.describe()

       avarage_temp
count   8582.000000
mean      52.075390
std       10.514324
min       14.000000
25%       44.000000
50%       51.500000
75%       60.500000
max       83.500000

<p style="font-family: Arial; font-size:1.75em;color:purple; font-style:bold"><br>

Evaluate Decision Tree Regression Accuracy using Root Mean Square Error

<br><br></p>

In [52]:
RMSE = sqrt(mean_squared_error(y_true = y_test, y_pred = y_prediction))

In [53]:
print(RMSE)

10.062301160861868